﻿@using Microsoft.eShopOnContainers.WebMVC.ViewModels

@model IEnumerable<Microsoft.eShopOnContainers.WebMVC.ViewModels.CustomOrder>

@{
    ViewData["Title"] = "My Custom Orders";
    var headerList = new List<Header>() {
        new Header() { Controller = "Catalog", Text = "Back to catalog" },
        new Header() { Text = " / " },
        new Header() { Controller = "CustomOrders", Text = "Custom Orders" } };
}

<div class="esh-orders">
    <partial name="_Header" model="headerList" />

    <div class="container">
        <article class="esh-orders-titles row">
            <section class="esh-orders-title col-2">Order number</section>
            <section class="esh-orders-title col-4">ShippingMethod</section>
            <section class="esh-orders-title col-2">Shipping Fee</section>
            <section class="esh-orders-title col-2">Total order</section>
            <section class="esh-orders-title col-2">Total</section>
            <section class="esh-orders-title col-2"></section>
        </article>

        @foreach (var item in Model)
        {
    <article class="esh-orders-items row">
        <section class="esh-orders-item col-2">@Html.DisplayFor(modelItem => item.OrderNumber)</section>
        <section class="esh-orders-item col-4">@Html.DisplayFor(modelItem => item.ShippingMethod)</section>
        <section class="esh-orders-item col-2">@Html.DisplayFor(modelItem => item.ShippinFee)</section>
        <section class="esh-orders-item col-2">@Html.DisplayFor(modelItem => item.Total)</section>
        <section class="esh-orders-item col-2">@Html.DisplayFor(modelItem => item.TotalOrder)</section>
        <section class="esh-orders-item col-2"></section>
    </article>
        }

    </div>
</div>




